#seccion {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin-top: 25px;
  margin-left: 100px;
}

/*#laboratoria {
   padding-top: 10px;
   display: inline-block;
   margin: 10px;
   background: yellow;
   height: 30px;
   width: 130px;
}*/

.franjasDobles {
  padding-top: 10px;
  padding-left: 5px;
  display: inline-block;
  margin: 10px;
  background: yellow;
  height: 70px;
  width: 240px;
}

.franjaUnica {
  padding-top: 10px;
  padding-left: 5px;
  display: inline-block;
  margin: 10px;
  background: #FE2E64;
  height: 70px;
  width: 240px
}
