#seccion {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin-top: 25px;
}

.franjasDobles {
  margin: 50px 100px;
  background: yellow;
  height: 70px;
  width: 230px
}

.franjaUnica {
  margin: 50px 100px;
  border: 1px solid black;
  background: #FE2E64;
  height: 70px;
  width: 230px
}
